// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    behaviors {
        ht: hold_tap {
            label = "hold_tap";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <150>;
            quick-tap-ms = <80>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };

       td_shift: tap_dance_0 {
           compatible = "zmk,behavior-tap-dance";
           label = "TAP_DANCE_0";
           #binding-cells = <0>;
           tapping-term-ms = <200>;
           bindings = <&kp LSHFT>, <&kp CAPS>;

       };
       td_apos: tap_dance_1 {
           compatible = "zmk,behavior-tap-dance";
           label = "TAP_DANCE_1";
           #binding-cells = <0>;
           tapping-term-ms = <200>;
           bindings = <&kp RA(APOS)>, <&kp RS(RA(DQT))>;

       };
    };

    macros {
        sp_dqt: sp_dqt {
            label = "double quotes";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = <&kp DQT>, <&kp SPACE>;
        };
        sp_apos: sp_apos {
            label = "apos with space";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = <&kp APOS>, <&kp SPACE>;
        };
        sp_grave: sp_grave {
            label = "gave with space";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = <&kp GRAVE>, <&kp SPACE>;
        };
        sp_caret: sp_caret {
            label = "caret with space";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = <&kp CARET>, <&kp SPACE>;
        };
    };

    combos {
            compatible = "zmk,combos";
            combo_boot_left {
                timeout-ms = <50>;
                key-positions = <0 10 20>;
                bindings = <&bootloader>;
            };
            combo_boot_right {
                timeout-ms = <50>;
                key-positions = <9 19 29>;
                bindings = <&bootloader>;
            };
            combo_gui {
                timeout-ms = <50>;
                key-positions = <2 3>;
                bindings = <&kp LGUI>;
            };
        };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  Q       │  W       │  F       │  P       │  B       │   │  J       │  L       │  U       │  Z       │          │
            &kp Q      &kp W        &kp F   &kp P      &kp B          &kp J         &kp L       &kp U    &kp Z    &kp SEMI
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  A       │  R       │  S       │  T       │  G       │   │  M       │  N       │  E       │  I       │ O        │
            &kp A      &ht RALT R   &ht LALT S  &ht LCTRL T &kp G          &kp M      &ht LCTRL N   &ht LALT E     &ht RALT I   &kp O
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Y       │  X       │  C       │  D       │  V       │   │  K       │  H       │          │          │          │
            &kp Y      &kp X      &kp C   &kp D      &kp V              &kp K      &kp H   &kp COMMA   &kp DOT   &kp MINUS
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &mo 2      &sk LSHFT      &sl 1    &kp SPACE
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };


         first_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │          │          │          │          │   │          │          │          │          │          │
            &kp N0     &kp N1    &kp N2     &kp N3    &kp N4            &kp N5    &kp N6     &kp N7     &kp N8      &kp N9
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │          │          │          │          │
            &kp AT     &kp LBKT &ht LALT LBRC &ht LCTRL LPAR &kp FSLH  &kp BSLH  &ht LCTRL RPAR  &ht LALT RBRC  &kp RBKT  &kp RA(GRAVE)
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │         │         │         │   │     |     │          │          │         │          │
            &kp PLUS    &kp STAR  &kp RA(TILDE) &kp PRCNT   &kp EQUAL    &kp PIPE   &kp AMPS  &td_apos &kp EXCL &kp QMARK
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &to 0     &sk LSHFT      &sl 3     &kp SPACE     
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };


        second_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │          │          │          │          │   │          │          │          │          │          │
        &bt BT_SEL 0  &bt BT_SEL 1 &bt BT_SEL 2  &bt BT_SEL 3 &trans    &kp LS(TAB) &kp PAGE_DOWN &kp PAGE_UP &kp TAB &kp ESC
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │          │          │          │          │
          &trans      &trans     &trans     &trans    &trans         &kp LEFT    &kp DOWN    &kp UP    &kp RIGHT  &kp PSCRN
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │          │          │          │          │          │
            &trans    &trans     &trans     &trans    &trans         &kp LS(LEFT) &kp LS(DOWN) &kp LS(UP) &kp LS(RIGHT) &kp DEL
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &bt BT_CLR      &kp BSPC &kp ENTER
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        third_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │          │          │          │          │   │          │          │          │          │          │
            &kp F10     &kp F1    &kp F2     &kp F3    &kp F4            &kp F5     &kp F6     &kp F7     &kp F8    &kp F9
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │          │          │          │          │
            &trans  &trans  &kp LALT  &kp LCTRL   &kp F11          &kp F12  &kp LCTRL  &kp LALT  &trans       &trans
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │          │          │          │          │          │
           &to 5     &trans     &kp RA(CARET) &kp DLLR     &trans        &trans  &kp HASH &trans      &trans     &to 4
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                            &to 0     &sk LSHFT       &kp SPACE     &to 1
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        fourth_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │          │          │          │          │   │          │          │          │          │          │
            &trans     &trans     &trans     &trans    &trans          &trans     &trans     &trans     &trans     &bootloader
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │          │          │          │          │
            &trans     &trans     &trans     &trans    &trans         &trans     &trans     &trans     &trans     &trans
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │          │          │          │          │          │
            &trans     &trans     &trans     &trans    &trans          &trans     &trans     &trans     &trans     &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &to 0       &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        fivth_layer {
            bindings = <
            //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
            //│          │          │          │          │          │   │          │          │          │          │          │
            &bootloader     &trans     &trans     &trans    &trans          &trans     &trans     &trans     &trans     &trans
            //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
            //│          │          │          │          │          │   │          │          │          │          │
            &trans     &trans     &trans     &trans     &trans          &trans     &trans     &trans     &trans     &trans
            //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
            //│          │          │          │          │          │   │          │          │          │          │          │
            &trans     &trans     &trans     &trans    &trans          &trans     &trans     &trans     &trans     &trans
            //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                                &to 0       &trans         &trans     &trans
            //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
        last_layer {
            bindings = <
            //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
            //│          │          │          │          │          │   │          │          │          │          │          │
            &trans     &trans     &trans     &trans    &trans          &trans     &trans     &trans     &trans     &trans
            //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
            //│          │          │          │          │          │   │          │          │          │          │
            &trans     &trans     &trans     &trans    &trans          &trans     &trans     &trans     &trans     &trans
            //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
            //│          │          │          │          │          │   │          │          │          │          │          │
            &trans     &trans     &trans     &trans    &trans          &trans     &trans     &trans     &trans     &trans
            //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                                &trans     &trans         &trans     &trans
            //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
    };
};
